<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

    <div class="container">
        <form action="" method="POST">
           <div class="form-group">
                <label><b>Enter Project</b></label>
                <input type="text" class="form-control" name="product">
           </div>   
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>



<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>