<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

   <div class="conatiner">
       Your Checkout
   </div>


<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>