<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

<div class="container">
    <h1>Orders</h1><br>
    <div class="row">
        <div class="col-sm-8">
            <div class="card shadow p-2 mb-3 bg-white">
                <div class="card-body ">
                    <h5><b>#Order : 8675847364</b></h5>
                    <ul class="list-group">
                        <li class="list-group-item">Dairy Milk chocolate</li>
                        <li class="list-group-item">Guitar</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow p-2 mb-3 bg-white">
                <div class="card-body">
                    <h5><b>#Order : 8675djfse444</b></h5>
                    <ul class="list-group">
                        <li class="list-group-item">Dairy Milk chocolate</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>


 <%- include('../includes/footer.ejs') %>   