<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

    <div class="container">
        <h1>Product Details</h1>
    </div>



<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>